html {
    background-color: #ac52be;
  }


  .artist {
    width: 20%;
    height: 20%;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin: auto;
  }

  .all {
    display: inline-block;
  }

  .image {
    width: 75%;
    height: 75%;
    border: 0.25rem inset #ac52be;
    border-radius: 20%;
  }

  .name {
    text-shadow: 0.2rem 0.2rem 0.2rem #ac52be;
  }

  .members {
    display: inline-block;
    vertical-align: top;
  }

  .image:hover {
    border: 0.2rem solid #fff;
    -moz-box-shadow: 0rem 0.6rem 0.5rem #ac52be;
    -webkit-box-shadow: 0rem 0.6rem 0.5rem #ac52be;
    box-shadow: 0.2rem 0.6rem 0.5rem #ac52be;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border-radius: 25%;
  }

  .MainTitle{
    font-family:  "Concert One", sans-serif;
    font-size: 75px;

  }

  .ArtisteName {
    font-family: "Concert One", sans-serif;
  }
  
  .MusiqueClignotement  {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
 }

 @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
 }

 .main {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  background-color: #ceccc9;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 1rem;
  margin-top: 0px;
 }