<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert+One&effect=neon">
    <link href="../css/artists.css" rel="stylesheet" media="all" type="text/css">
    <link rel="icon" href="../css/icon.png" type="image/png">
  </head>
  
  <body>
      <div class="profile">
        <h1 class="profile__name">{{.Name}}</h1>
        <div class="profile__info">
          <img src="{{.Image}}" alt="Artist Image" class="image" />
          <h2 class="name">
            <i>EST. {{.CreationDate}}</i>
          </h2>
          <h2 class="name">
            First album
            <p class="FirstAlbum">
              <i>{{.FirstAlbum}}</i>
            </p>
          </h2>
          <h2 class="name">
            Members {{range .Members}}
            <p class="member">
              <i>{{.}}</i>
            </p>
            {{end}}
          </h2>
        </div>
        <div class="empty"></div>
        <div class="concerts name">
          <h2>Concert Locations</h2>
          {{range $i, $e := .DatesLocations}}
          <h3>
            <p class="index">
              <i>{{$i}} the {{index $e 0}}</i>
            </p>
          </h3>
          {{end}}
          <div>
            <a href="/" class="ref">
              <button class="button" type="button">Back</button>
            </a>
          </div>
        </div>
      </div>
  </body>
</html>
